* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.section1 {
    background-image: linear-gradient(rgba(247, 82, 112, .5), rgba(247, 82, 112, .5)), url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    /* height: 500px; */
}

.bg5 {
    background-color: rgba(247, 82, 112, 1);
    padding: 20px;
}

.container {
    margin: 0px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title a {
    text-decoration: none;
    color: black;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
}

.nav-menu li {
    list-style: none;
    margin: 0px 20px;
}

.nav-menu li a {
    text-decoration: none;
    font-size: large;
    color: black;
}

.nav-menu li a.active {
    text-decoration: underline white 3px;
}

.nav-menu li a:hover {
    text-decoration: underline white 5px;
}

#nav-toggle {
    display: none;
}

.sec1-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1-text .text {
    margin: 200px 0px;
    text-align: center;
}

.text h2 {
    font-size: xx-large;
}

/* #f75270 */